<div style="background-color:white">
    <div class="container pt-5">
        
        <div  class="d-flex justify-content-start ">
            <div>
                <span class="fw-bold fs-1">This First Heading</span> <span class="text-secondary fw-bold fs-1"> Will Catch Your Eye</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti quo est dolor eum! Eos quia incidunt reiciendis quo quidem provident ipsum consectetur expedita repudiandae, aliquid esse explicabo voluptatibus!</p>
            </div>
            <img class="rounded-circle" src="./assets/img/1.jpg" alt="Imagen" width="300" height="300">
        </div>
    </div>
</div>
