<style>
.tagline{
 background-image: url(https://cdn.discordapp.com/attachments/805908724908556288/1316061522853757029/image.png?ex=6759ad4e&is=67585bce&hm=fda7ecd0ec990f2840902069e9a410bfd71d2a5529669c8309a461f339eec950&);
 display: flex;
 flex-direction: column;
 height: 500px;
 background-size: cover;
 background-position: center bottom;
 background-repeat: no-repeat;
}
.texto{
    background-color: white;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 80px;
}
.texto-{
    background-color: white;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 45px;
}
</style>
  <div class="tagline">
  <div class="texto mt-5">
      <strong> One Page Wonder </strong>
  </div>
  <div class="texto- mt-3">
     <strong> Will Knock Your Socks Off</strong>
</div>